@charset "UTF-8";

@font-face {
    font-family: "Lilita";
    src: url(LilitaOne-Regular.ttf); format:(truetype);
}
@font-face {
    font-family: "Shantell";
    src: url(ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf); format:(truetype);}

    *{
        margin: 0px;
        padding:0px;
    }
    
    html, body{
        min-height: 100vh;
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header{
    background-color: black;
    color:white;
    text-align: center;
    }

    header > h1{
        font-family: "Lilita";
        padding-top: 50px;
        font-variant: small-caps;
        font-size: 10vw;
    }
    header > p{
        padding-bottom: 50px;
    }
    header a, footer a{
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    header a:hover, footer:hover{
        text-decoration: underline;
    }

    section{
        background-color: white;
        color: black;
        font-family:cursive , sans-serif;
        font-size: 3vw;
        line-height: 2em;
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 30px;
    }

    #img01{
        background: rgba(0, 0, 0, 0.566) url(imagens/background001.jpg) right center no-repeat fixed;
        height: 50vw;
        color: white;
        background-size: cover;
        text-shadow: 1px 1px 0px black;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.489);
    }

    .textos{
        background-color: rgba(0, 0, 0, 0.329);
        display: inline-block;
        padding:10px;
        color: white;
    }

    #img02{
        background: black url(imagens/background002.jpg) center center no-repeat fixed;
        background-size: cover;
        text-shadow: 1px 1px 0px black;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.489);
    }

    footer{
        background-color: black;
        color:white;
        padding:10px;
        text-align: center;
    }
